{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
   <!-- Page Banner Section -->
   <section class="page-banner">
    <div class="image-layer" style="background-image: url('{{story.story_image_one.url}}')"></div>

 <div class="auto-container">
       <h1>  {% if LANGUAGE_CODE == 'en' %} {{ story.story_name }}
        {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_name_ar }} {% endif %} </h1>
     </div>

    
     <div class="breadcrumb-box">
       <div class="auto-container">
          <ul class="bread-crumb clearfix">
           <li><a class="dirBanner" href="{% url 'jobs:index' %}"> {% trans "HOME" %}</a></li>
           <li class="active"><a href="{% url 'blogs:story' %}">{% trans "STORIES" %}</a></li>
         </ul>
       </div>
     </div>
   </section>
   <!--End Banner Section -->
 <!--Causes Section-->
 <section class="story-section alternate-two" style="padding-bottom:40px;padding-top:40px">
   
     <div class="auto-container">
      <div class="post-content">
                                   <div class="lower-box story-details">
                             <h4 style="padding-bottom:20px;" style="font-size:16px"> {% if LANGUAGE_CODE == 'en' %} {{ story.story_name }}
                                {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_name_ar }} {% endif %}</h4>
                             <div class="info-box clearfix">
                                 <div class="cause-info">
                                     <ul class="clearfix">
                                         <li><span class="far flaticon-calendar"></span> {{ story.story_date|date:'d M o' }}  </li>
                                         <li><span class="fa fa-map-marker-alt"></span> {% if LANGUAGE_CODE == 'en' %} {{ story.story_location }}
                                            {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_location_ar }} {% endif %} </li>
                                     </ul>
                                 </div>
                                
                                     
                             </div>
                           
                         </div>
                              
            
                               
                                 <p>{% if LANGUAGE_CODE == 'en' %} {{ story.story_desc2 }}
                                    {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_desc2_ar }} {% endif %}</p>
                                 <p>{% if LANGUAGE_CODE == 'en' %} {{ story.story_desc3 }}
                                    {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_desc3_ar }} {% endif %}</p>
                                 <div class="row clearfix">
                                    
                                 </div>
                                 <p class="big-text">{% if LANGUAGE_CODE == 'en' %} {{ story.story_desc4 }}
                                    {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_desc4_ar }} {% endif %}</p>
                                
                                  </div>
                     
         <div class="row clearfix">
         
             <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ story.story_image_one.url }} " height="300px" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
                <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ story.story_image_two.url }}"  height="300px" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
                <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ story.story_image_three.url }}"   height="300px" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
             
             
         </div>
         <p>{% if LANGUAGE_CODE == 'en' %} {{ story.story_desc5 }}
            {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_desc5_ar }} {% endif %}</p>
         <p>{% if LANGUAGE_CODE == 'en' %} {{ story.story_desc6 }}
            {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_desc6_ar }} {% endif %}</p>
         <p>{% if LANGUAGE_CODE == 'en' %} {{ story.story_desc7 }}
            {% elif LANGUAGE_CODE == 'ar' %}  {{ story.story_desc7_ar }} {% endif %}</p>                       

     
     </div>
 </section>


{% endblock body %}