{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- End Main Header -->

<!-- Page Banner Section -->
<section class="page-banner">

  {% for i in data %}
  <div class="image-layer" style="background-image: url('{{i.image_middle_about}}')"></div>

  {% endfor %}
  <div class="auto-container">
        <h2> {% trans "AIFRD Non-Governmental Organization" %}</h2>
      </div>

  <div class="breadcrumb-box">
    <div class="auto-container">
      <ul class="bread-crumb clearfix">
        <li><a class="dirBanner" href="{% url 'jobs:index' %}" style="font-size: 12px"> {% trans "HOME" %}</a></li>

        <li class="active"> {% trans "ABOUT AIFRD" %}</li>
      </ul>
    </div>
  </div>
</section>
<!--End Banner Section -->

<!--About Section-->
<section class="about-section-three">
  <div class="auto-container">
    <!--Text Column-->
    <!-- <div class="inner">
              <div class="lower-box i-details">
                <h2 >About AIFRD</h2>
                <div class="info-box clearfix">
               
                        
                </div>
              
            </div> -->
           
    {% for i in data %}
    <div class="lower-text">
      <div class="post-content">

        {% if LANGUAGE_CODE == 'en' %}{{i.text_about}}
        {% elif LANGUAGE_CODE == 'ar' %}{{i.text_about_ar}}{% endif %} 
      </div>

      <div class="lower-text" style="padding-top: 20px;">
        {% if LANGUAGE_CODE == 'en' %}{{i.text_about1}}
                                        {% elif LANGUAGE_CODE == 'ar' %}{{i.text_about1_ar}}{% endif %}  
      </div>
      {% endfor %}
    </div>




 


  <div class="row clearfix">
    <div class="sidebar-side col-lg-7 col-md-12 col-sm-12">
      <aside class="sidebar">


        <!-- Category Widget -->
        <div class="sidebar-widget category-widget">
          <div class="widget-inner">
            <h3 style="font-size:20px">{% trans "The goals of AIFRD" %}</h3>
            <div class="widget-content">
              <ul>
                <li>
                  <a class="clearfix">{% trans "The Foundation works on community awareness projects for the purpose of  advancing the community and combating extremist ideas." %}</a>
                </li>
                <li class="active">
                  <a class="clearfix"> {% trans "The Foundation seeks to alleviate cases of  persecution and injustice against aggrieved citizens and help them restore their rights." %}</a>
                </li>
                <li>
                  <a class="clearfix"> {% trans "Contribute to achieving societal solidarity  among all segments of society, especially  minorities." %}</a>
                </li>
                <li>
                  <a class="clearfix"> {% trans "Work to secure the emergency response to the displaced and the displaced at any time  by implementing rapid interventions in the field." %}</a>
                </li>
                <li>
                  <a class="clearfix">{% trans "Working to promote and build peaceful coexistence between different nationalities, religions and sects, reject violence and sectarianism, and spread peace." %}</a>
                </li>
                <li>
                  <a class="clearfix">{% trans "Spreading a culture of cooperation between society and the government to reach the  highest goals of transparency." %}</a>
                </li>
                <li>
                  <a class="clearfix"> {% trans "Adopting renewable ideas and  encouraging the youth group to follow them and work to achieve them and to achieve the vision of the institution." %}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </aside>

    </div>
    <div class="image-column col-lg-5 col-md-12 col-sm-12" style="padding-top:55px" >
      <figure class="image wow slideInRight" data-wow-delay="0ms">
        {% for i in data %}
        <img src="{{i.image_middle_about}}" width="100%" height="420px" alt="" />
        {% endfor %}
      </figure>
    </div>
  </div>



  <!--Featured Blocks-->
  <div class="featured-blocks vission_mission_section">
    <div class="row clearfix">
      <!--Featured Block-->
      <div class="featured-block col-lg-6 col-md-6 col-sm-12 ">
        <div class="inner-box">
          <div class="inner">
            <div class="icon"><span class="flaticon-care"></span></div>
            <h3 class="text-arabic">{% trans "OUR VISION" %}</h3>
            <div class="text-arabic-para">
              {% trans   " We aspire to a world in which the rights of children, as defined in the Convention on the Rights of the Child, are always respected. A world in which children can thrive in safe environments and become agents of change they wish to see in their lives." %}
            </div>
            <div class="link-box">
              <a href="{% url 'jobs:vision_mission_value' %}" class="more-link a-ara">{% trans "Read More" %}
                <span style="padding-top: 10px; padding-right: 10px" class="fa fa-arrow-right"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Featured Block-->
      <div class="featured-block col-lg-6 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="inner">
            <div class="icon">
              <span class="flaticon-pigeon"></span>
            </div>
            <h3 class="text-arabic"> {% trans "OUR MISSION" %}</h3>
            <div class="text-arabic-para">
              {% trans "Ashor Iraqi Foundation for Relief and Development, founded in 2014, is an independent, neutral and impartial Iraqi organisation committed to bringing meaningful and lasting change to the lives of children and youth, especially to those most exposed to risks. We strive to improve their well-being." %}
            </div>
            <div class="link-box">
              <a href="{% url 'jobs:vision_mission_value' %}" class="more-link a-ara">{% trans "Read More" %}
                <span style="padding-top: 10px; padding-right: 10px" class="fa fa-arrow-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
</section>

{% endblock body %}