{% extends 'base.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
      <!-- Page Banner Section -->
      <section class="page-banner">
        {% for i in data %}
        <div class="image-layer" style="background-image: url('{{i.image_bg}}')"></div>
      
        {% endfor %}

      
        <div class="auto-container">
          <h3>{% trans "VISSION & MISSION" %}</h3>
        </div>
  
    <div class="breadcrumb-box">
      <div class="auto-container">
        <ul class="bread-crumb clearfix">
          <li><a class="dirBanner" href="{% url 'jobs:index' %}" style="font-size: 12px">{% trans  "HOME" %}</a></li>

        <li class="active"><a href="{% url 'blogs:teams' %}"></a> {% trans  "ABOUT AIFRD" %}</li>
        </ul>
      </div>
    </div>
      </section>
      <!--End Banner Section -->
    <!--Causes Section-->
    <section class="career-section-two alternate-two" style="padding-bottom:40px;padding-top:40px">
  
        <div class="auto-container">
          <div class="lower-box story-details">
            <h1  style="font-size: 25px;padding-bottom: 30px;padding-top: 30px;">
              {% trans "Vision" %}</h1>
                                <div class="info-box clearfix vission_mission">
                                    {% for i in data %}
                                 
                                </div>
                              
                            </div>
                            <p>{% if LANGUAGE_CODE == 'en' %}{{i.vission_text}}
                              {% elif LANGUAGE_CODE == 'ar' %}{{i.vission_text_ar}}{% endif %}</p> 
        
        </div>   {% endfor %}
        <div class="auto-container">
            <div class="lower-box story-details">
              <h1  style="font-size: 25px;padding-bottom: 30px;padding-top: 30px;">
                {% trans "Mission" %} </h1>
                                  <div class="info-box clearfix vission_mission">
                                      {% for i in data %}
                                   
                                  </div>
                                
                              </div>
                              <p>{% if LANGUAGE_CODE == 'en' %}{{i.Vission_Mission_Value_desc1}}
                                {% elif LANGUAGE_CODE == 'ar' %}{{i.Vission_Mission_Value_desc1_ar}}{% endif %}</p>

                              <p>{% if LANGUAGE_CODE == 'en' %}{{i.Vission_Mission_Value_desc2}}
                                {% elif LANGUAGE_CODE == 'ar' %}{{i.Vission_Mission_Value_desc2_ar}}{% endif %}</p> 
                              <p>{% if LANGUAGE_CODE == 'en' %}{{i.mission_text}}
                                {% elif LANGUAGE_CODE == 'ar' %}{{i.mission_text_ar}}{% endif %} </p> 
          
          </div>   {% endfor %}
    </section>
  
    {% endblock body %} 




 